@page
@model Ecommerce_CyberKnight.Pages.IndexModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/home/style-index.css" />

    <!-- icones do bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


    <!-- codigo js do bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>



    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
</head>

<body>
    <div class="row">
        <div id="barra-lateral" class="col-2">
            <div>
                <div id="circle"></div>
                <h2>
                    E-Commerce
                </h2>
                <img id="Logo"
                    src="~/img/assets/home/Logo_CyberKnights.png"
                    alt="" style="width: 50px;">
            </div>

            <div id="filtro-ordenacao">
                <div>
                    <div>
                        <span><i class="bi bi-filter" style="font-size: 2.2em;"></i></span>
                        <h5 class="filtro-titulo" style="font-size: 1.2em;">Filtro</h5>
                    </div>

                    <span>Redefinir Filtro</span>
                </div>

                <div id="filtro-categorias">
                    <h5 class="filtro-titulo">Ordenar</h5>
                    <div>
                        <div>
                            <input ordem value="1" type="radio" name="o">
                            <span>Nome - A - Z</span>
                        </div>
                        <div>
                            <input ordem value="2" type="radio" name="o">
                            <span>Nome - Z - A</span>
                        </div>
                        <div>
                            <input ordem value="3" type="radio" name="o">
                            <span>Preço - Crescente</span>
                        </div>
                        <div>
                            <input ordem value="4" type="radio" name="o">
                            <span>Preço - Descrecente</span>
                        </div>

                    </div>
                </div>
            </div>

            <hr>

            <div class="filtro-categoria">
                <h5 class="filtro-titulo">Categoria</h5>
                @foreach (var categoria in Model.categorias)
                {
                    <div title="@categoria.Descricao">
                        <input class="input-categoria" type="checkbox" value="@categoria.Id">
                        <span>@categoria.Nome</span>
                    </div>
                }


            </div>

            <hr>

            <div id="filtro-preço">
                <div>
                    <h5 class="filtro-titulo">Faixa de preço</h5>
                </div>
                <div id="div-input-range">

                    <input id="dado-filtro-preco" type="text" class="js-range-slider" name="my_range" value="" />

                </div>
            </div>

            <div id="container-btn-filtro">
                <br/>
                <br/>
                <br />
                <button id="btn-filtrar">
                    Filtrar
                </button>
            </div>

        </div>
        <div id="conteudo-principal" class="col">
            <header>
                <div>
                    <button id="btn-login">
                        Login
                    </button>
                    <span id="traco-1">|</span>
                    <span id="novos-produtos">
                        Novos produtos
                    </span>
                    <span id="caixa-pesquisa">
                        <i id="btn-lupa" class="bi bi-search"></i>
                        <input value="@Model.termoBusca" id="pesquisa-produto" placeholder="Procurar por produtos..." type="text">
                    </span>
                </div>
                <div>
                    <button id="btn-login-adm">
                        Login Adm
                    </button>
                    <i id="carrinho-compras" class="bi bi-cart"></i>
                    <span id="traco-2">
                        |
                    </span>
                    <i id ="btn-logout" class="bi bi-box-arrow-right"></i>
                </div>
            </header>

            <div id="container-principal-banner">
                <div id="container-titulo">
                    <span><img src="./img/icone-estrela.png" alt=""></span>
                    <h1>Principais ofertas</h1>
                </div>

                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>

                    <div class="carousel-inner">
                        <div class="carousel-item  active">
                            <div class="container-banner">
                                <img id="img-banner-2" src="~/img/assets/home/oferta_2.webp" class="img-banner" alt=""/>
                                <img src="~/img/assets/home/oferta_4.webp" class="img-banner" alt="...">
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="container-banner">
                                <img src="~/img/assets/home/novo_banner_pedroca.webp" class="img-banner" alt="...">
                                <img src="~/img/assets/home/oferta_3.webp" class="img-banner" alt="...">
                            </div>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev-edited" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next-edited" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
            <div id="area-interemdiaria">
                <div id="linha-1">
                    <h2>Mais vendidos</h2>
                    <span>
                        <a id="link-ver-tudo" href="">
                            Ver tudo
                        </a>
                    </span>
                </div>
                <div id="linha-2">
                    <div>
                        <span class="btn-filtro-ordenacao">Todos os produtos</span>
                        <span class="btn-filtro-ordenacao">Todas as categorias</span>
                    </div>
                    <div>
                        <span id="ordenar-produto">Ordenar por:</span>
                        <span id="select-ordenacao">
                            <select id ="btn-ordenar"class="form-select">
                                <option selected value="1">Baixo-Alto</option>
                                <option value="2">Barato-Caro</option>
                                <option value="3">Three</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>

            <div id="listagem-produtos">

                @foreach (var produto in Model.Produtos){
                    <a href="http://10.0.30.222/Detalhes-Produto?id=@(produto.Id)">
                    <div class="card-produto" title="@produto.descricao">
                            <img src="~/img/produto/@String.Concat(produto.Id.ToString("D6"),".jpg")" alt="">
                        <h3>
                            @produto.Nome
                        </h3>
                        <div>
                            <span class="ctn-valor">R$ @produto.preco.ToString("C2")</span>
                            <button>
                                <i class="bi bi-bag-check-fill"></i>
                            </button>
                        </div>
                    </div>
                </a>
                }
            </div>

            <div class="container text-center">
                <nav aria-label="page navigation example">
                    <ul class=" pagination">
                        @for (int i = 1; i <= Model.QuantidadePagina; i++)
                        {
                            @if (i == Model.QuantidadePagina)
                            {
                                <li class="page-item"><a class="page-link" href="~/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="#">@i</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>


    </div>

    <form id="form-filtro" hidden action="/" method="get">
        <input type="hidden" name="o" value="0" id="o" />
        <input type="hidden" name="p" value="1" id="p" />
        <input type="text" name="q" id="q" />
        <input type="hidden" name="cats" id="cats" />
        <input type="hidden" name="valMin" id="valMin" />
        <input type="hidden" name="valMax" id="valMax" />
    </form>


    <script>

        var dadosFiltroPreco = document.getElementById("dado-filtro-preco");
        var formFiltro = document.getElementById("form-filtro");
        var btnFiltrar = document.getElementById("btn-filtrar");
        var pesquisaProduto = document.getElementById("pesquisa-produto");
        var btnLupa = document.getElementById("btn-lupa");

        var catSelected = document.querySelectorAll(".filtro-categoria input[type='checkbox']");

   

        btnFiltrar.addEventListener("click", enviarForm);
        pesquisaProduto.addEventListener("keypress", (evt) => {
            if (evt.keyCode == 13) {
                enviarForm();
            }
            console.log(evt);
        });

        function enviarForm() {
            formFiltro.valMin.value = dadosFiltroPreco.from || 0;
            formFiltro.valMax.value = dadosFiltroPreco.to || 30;
            formFiltro.q.value = pesquisaProduto.value.trim();

            document.querySelectorAll("input[ordem]").forEach((item) => {
                if(item.checked){
                    formFiltro.o.value = item.value;
                }
            });

            formFiltro.cats.value = "";

            document.querySelectorAll(".input-categoria").forEach((item) => {
                if (item.checked) {
                    formFiltro.cats.value += item.value + "|";
                }
            });

            listaCat = "";

            catSelected.forEach((input) => {
                if (input.checked) {
                    listaCat.value += input.value + ",";
                }
            });


            formFiltro.submit();
        }

        var minVal = @Model._valorMinimo;
        var maxVal = @Model._valorMaximo;


        $(".js-range-slider").ionRangeSlider({
            type: "double",
            min: 0,
            max: 30,
            from: minVal,
            to: maxVal,
            grid: false,
            skin: "round",
            prefix: "R$ ",
                onFinish: function(data) {
                    dadosFiltroPreco = data;
                }
        });


    </script>

</body>

</html>